# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Chatbot with Python/*
!/Chatbot with Python/task/
/Chatbot with Python/task/*
!/Chatbot with Python/task/bot
